html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p5Canvas {
    border: 50px solid rgb(248, 248, 248);
    outline: 15px solid black;
    box-shadow: 17px 17px 10px #333c;
}

.label {
    font-family: "Helvetica Light", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.dark {
    color:rgb(248, 248, 248);
}